#======================================================================
# Your own site URL. If you working on local, use 'http://localhost:3000'
#======================================================================
NEXT_PUBLIC_SITE_URL='your_site_url'

#======================================================================
# In case you want to use EmailJS, add your ID's and Public Key here
#======================================================================
NEXT_PUBLIC_EMAILJS_SERVICE_ID='your_emailjs_service_id' 
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID='your_emailjs_template_id' 
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY='your_emailjs_public_key'

#======================================================================
# In case you have your own CV a/o portfolio stored in Google Drive
#======================================================================
NEXT_PUBLIC_CV_LINK='https://drive.google.com/your_cv_link'
NEXT_PUBLIC_PORTFOLIO_LINK='https://drive.google.com/your_portfolio_link'

#======================================================================
# Your Supabase Key and URL.
#======================================================================
NEXT_PUBLIC_SUPABASE_URL='your_public_supabase_url'
NEXT_PUBLIC_SUPABASE_ANON_KEY='your_public_supabase_anon_key'

#======================================================================
# Your social links. You can add more in your .env and lib/links.ts
#======================================================================
NEXT_PUBLIC_GITHUB_LINK='https://github.com/your_github_username'
NEXT_PUBLIC_LINKEDIN_LINK='https://www.linkedin.com/in/your_linkedin_username'
NEXT_PUBLIC_INSTAGRAM_LINK='https://instagram.com/your_instagram_username'
NEXT_PUBLIC_DISCORD_ID='https://discord.com/users/your_discord_id'
NEXT_PUBLIC_EMAIL_ADDRESS='mailto:your_email_account@gmail.com'