NEXT_PUBLIC_SITE_URL=your_site_url
# or you can use http://localhost:3000 in local

NEXT_PUBLIC_EMAILJS_SERVICE_ID= # add_your_own_Email_JS_Service_ID
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID= # add_your_own_Email_JS_Template_ID
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY= # add_your_own_Email_JS_Public_Key

NEXT_PUBLIC_CV_LINK= # add_your_own_CV_Link
NEXT_PUBLIC_PORTFOLIO_LINK= # add_your_own_portfolio_link # in case you have PDF portfolio

NEXT_PUBLIC_GITHUB_LINK= # add your own github profile link
NEXT_PUBLIC_LINKEDIN_LINK= # add your own linkedin
NEXT_PUBLIC_INSTAGRAM_LINK= # add your own instagram link
NEXT_PUBLIC_DISCORD_ID= # add your own discord ID