@import "tailwindcss";

* {
  font-family: 'Merriweather';
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  display: flex;
  animation: infinite-scroll 20s linear infinite;
  width: max-content;
}

.project-slide {
  flex-shrink: 0;
}